 .field {
     position: relative;
     margin-bottom: 28px;
 }

 /* ===== Input ===== */
 .input {
     width: 100%;
     padding: 16px 14px 16px 44px;
     border-radius: 10px;
     border: 1px solid #dcdcdc;
     font-size: 14px;
 }

 .input:focus {
     border-color: #4a6cf7;
     box-shadow: 0 0 0 3px rgba(74, 108, 247, 0.15);
 }


 /* ===== Label ===== */
 .label {
  position: absolute;
  left: 44px;
  top: 50%;
  transform: translateY(-50%);
  background: white;
  padding: 0 6px;
  font-size: 13px;
  color: #999;
  transition: 0.2s ease;
  pointer-events: none;
}

.input:focus + .label,
.input:not(:placeholder-shown) + .label {
  top: -8px;
  font-size: 12px;
  color: #4a6cf7;
}


 /* ===== Icon ===== */
.icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.6;
  pointer-events: none;
}



 /* ===== Field ===== */
 .field {
     position: relative;
     margin-bottom: 28px;
 }

.errorWrapper {
  min-height: 16px; /* ALWAYS reserve space */
  margin-top: 6px;
}

 /* ===== Errors ===== */
.errorText {
  font-size: 12px;
  color: #ff4d4f;
  margin-top: 6px;
  line-height: 1.2;
}



